# Importing Libraries

In [7]:
import pandas as pd
import scipy.stats as stats

# Importing Dataset

In [3]:
customer_order=pd.read_csv('Costomer+OrderForm.csv')
customer_order.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

# Initial Analysis

In [4]:
customer_order.shape

(300, 4)

In [5]:
customer_order.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [6]:
customer_order.isnull().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [23]:
customer_order.dtypes

Phillippines    object
Indonesia       object
Malta           object
India           object
dtype: object

# Performing Statistical Test to prove the hypothesis
### We perform chi square test
###### Null Hypothesis---The defective % varies by the centre
###### Alternate Hypothesis---The defective % not  varies by the centre

In [8]:
from scipy.stats import chi2_contingency

In [25]:
chi_score,p_value,df,exp_table=chi2_contingency([customer_order['Phillippines'].value_counts(),customer_order['Indonesia'].value_counts(),customer_order['Malta'].value_counts(),customer_order['India'].value_counts()])

In [26]:
print('Chie Score {}\n P Value {}\n Degree Of Freedom {}\n Expected Table{}'.format(chi_score,p_value,df,exp_table))

Chie Score 3.8589606858203545
 P Value 0.2771020991233144
 Degree Of Freedom 3
 Expected Table[[271.75  28.25]
 [271.75  28.25]
 [271.75  28.25]
 [271.75  28.25]]

In [28]:
if p_value<0.05:
    print('The defective % not varies by the centre so we reject the null hypothesis ')
else:
    print('The defective % varies by the center so we cannot reject the null hypothesis')

The defective % varies by the center so we cannot reject the null hypothesis