# Importing Libraries

In [6]:
import pandas as pd
import scipy.stats as stats

# importing Dataset

In [2]:
buyer_data=pd.read_csv('BuyerRatio.csv')
buyer_data.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

# Initial Analysis

In [28]:
buyer_data.shape

(2, 5)

In [29]:
buyer_data.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

# Performimng Statistical Test to Prove the hypothesis
##### Here we are performing chi square test because we need to find the linear correlation between two quantitative variables

In [18]:
from scipy.stats import chi2_contingency

In [26]:
buyer_data1=buyer_data.drop(columns='Observed Values',axis=1)

In [30]:
chi_score,p_value,df,exp_table=chi2_contingency(buyer_data1)

In [31]:
print('Chie Score {}\n P Value {}\n Degree Of Freedom {}\n Expected Table{}'.format(chi_score,p_value,df,exp_table))

Chie Score 1.595945538661058
 P Value 0.6603094907091882
 Degree Of Freedom 3
 Expected Table[[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [32]:
if p_value<0.05:
    print('All Proportions are not equal we can reject the null hupothesis')
else:
    print('All Proportions are equal we cannot reject the null hypothesis')

All Proportions are equal we cannot reject the null hypothesis