# Importing Libraries

## Hypothesis Testing for Cutlet Data

In [17]:
import pandas as pd
import numpy as np
import scipy.stats as stats

# Importing Dataset

In [4]:
cutlet_data=pd.read_csv('Cutlets.csv')
cutlet_data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

# Performimg Initial Analysis

In [6]:
cutlet_data.shape

(35, 2)

In [7]:
cutlet_data.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

#### Separating our samples in individual form

In [21]:
unit_a = cutlet_data['Unit A']

In [22]:
unit_b= cutlet_data['Unit B']

#### Here according to our F&B Manager the
##### Null Hypothesis is---whether there is any significant difference in the diameter of the cutlet between two units. 
#### We need to prove the Alternate Hpothesis i.e.  there is  not any significant difference in the diameter of the cutlet between two units.

In [23]:
## HEre we have both units in quantitative data and we have two samples so we are performimg 2-Sanmple-t-test to prove the null hypothesis wrong

# Performimg Statistical Test
### 2-Sample-t-Test

In [24]:
from scipy.stats import ttest_ind

In [26]:
test_score,p_value=ttest_ind(unit_a,unit_b)

In [27]:
print('test_score {}\np_value {}.'.format(test_score,p_value))

test_score 0.7228688704678063
p_value 0.4722394724599501.

In [28]:
if p_value<0.05:
    print(' there is not any significant difference in the diameter of the cutlet between two units and we reject null hypothesis')
else:
    print('We cannot reject the null hypothesis')

We cannot reject the null hypothesis